{% extends "base.html" %}
{% load staticfiles compress %}

{% block sidebar_header %}
  <img src="{% static 'img/tenho-dito-vertical-logo.png' %}" alt="Tenho Dito" class="header__logo">
{% endblock sidebar_header %}

{% block sidebar_body %}
  <p class="body__text">
    Veja o que está sendo mais falado no cenário político brasileiro.
    Clique nos estados para saber os temas mais abordados pelos deputados que os representam.
    Ou selecione uma outra opção de visualização:</p>
  <ul class="body__menu-list">
    <li class="menu-list__item">Por Região</li>
    <li class="menu-list__item">Por Partido</li>
    <li class="menu-list__item">Por Tema</li>
  </ul>
{% endblock sidebar_body %}

{% block main_content %}
  <div class="map js-map" />
  <div class="map__tooltip js-map-tooltip">
    <i class="tooltip__icon icon js-tooltip-icon"></i>
    <span class="tooltip__theme js-tooltip-theme"></span>
  </div>
{% endblock main_content %}

{% block javascript %}
  {% compress js %}
    <script type="module" src="{% static 'js/index.js' %}"></script>
  {% endcompress %}
{% endblock javascript %}
