{% extends "base.html" %}
{% load staticfiles compress %}

{% block sidebar_header %}
  <img src="{% static 'img/tenho-dito-vertical-logo.png' %}" alt="Tenho Dito" class="header__logo">
{% endblock sidebar_header %}

{% block sidebar_body %}
  <p class="body__text">
    Veja o que está sendo mais falado no cenário político brasileiro.
    <span class="text__highlight">Clique nos estados</span> para saber os temas mais abordados pelos deputados que os representam.
  </p>
  <p class="body__text body__text--no-border">
    Os dados utilizados para análise são apenas os discursos proferidos no Pequeno Expediente da Câmara dos Deputados e Projetos de Lei de autoria dos deputados.
  </p>
{% endblock sidebar_body %}

{% block main_content %}
  <div class="map js-map" />
  <div class="map__tooltip js-map-tooltip">
    <i class="tooltip__icon icon js-tooltip-icon"></i>
    <span class="tooltip__theme js-tooltip-theme"></span>
  </div>
{% endblock main_content %}

{% block javascript %}
  {% compress js %}
    <script type="module" src="{% static 'js/index.js' %}"></script>
  {% endcompress %}
{% endblock javascript %}
