{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="tenhodito-application">
    <section class="sidebar">
      <div class="sidebar__header">
        <a href="/" clas="header__logo--horizontal">
          <img src="{% static 'img/tenho-dito-horizontal-logo.png' %}" alt="Tenho Dito" class="">
        </a>
      </div>
      <div class="sidebar__body">
      </div>
    </section>
    <main class="main-content no-bg-image">
      <div class="proposal-details">
        <div class="details__info">
          <h2 class="info__title">Detalhes</h2>
        </div>
        <div class="details__data">
          <div class="data__proposals">
            <ul class="proposals__list">
              {% for proposal in proposals %}
                <li class="list__item">
                  <h3 class="item__title">{{proposal.data.name}}</h3>
                  <p class="item__summary">{{proposal.data.summary}}</p>
                  <a href="{{proposal.data.link}}" target="_blank" class="item__link">Acessar texto completo</a>
                  <ul class="item__themes">
                    {% for theme in proposal.themes.all %}
                      <li class="themes__item {{theme.theme.slug}}">
                        <i class="item__icon icon icon-{{theme.theme.slug}} "></i>
                        {{theme.theme.description}}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
            {% include "includes/pagination.html" with  paginator=proposals %}
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock content %}