{% extends "base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block content %}
  <div class="tenhodito-application">
    <section class="sidebar">
      <div class="sidebar__header">
        <img src="{% static 'img/tenho-dito-vertical-logo.png' %}" alt="Tenho Dito" class="header__logo">
      </div>
      <div class="sidebar__body">
      </div>
    </section>
    <main class="main-content">
      <div class="map js-map" />
      <div class="map__tooltip js-map-tooltip">
        <i class="tooltip__icon icon js-tooltip-icon"></i>
        <span class="tooltip__theme js-tooltip-theme">Testando Tema</span>
      </div>
    </main>
  </div>
{% endblock content %}

{% block javascript %}
  {% render_bundle 'states' %}
{% endblock javascript %}
