{% extends "base.html" %}
{% load staticfiles compress %}

{% block content %}
  <div class="tenhodito-application">
    <section class="sidebar">
      <div class="sidebar__header">
        <img src="{% static 'img/tenho-dito-vertical-logo.png' %}" alt="Tenho Dito" class="header__logo">
      </div>
      <div class="sidebar__body">
      </div>
    </section>
    <main class="main-content">
      <div class="states-map js-map"></div>
      <div class="bubble-chart js-bubble-chart"></div>
    </main>
  </div>
{% endblock content %}

{% block javascript %}
  <script>
  var STATE = "{{ state }}";
  </script>
  {% compress js %}
    <script type="module" src="{% static 'js/states.js' %}"></script>
  {% endcompress %}
{% endblock javascript %}
