$light-green: #01c6bd;
$dark-green: #01aea4;
$main-background: #00a89d;
$map-stroke: #d0dcdd;
$state-map-stroke: #73d2cd;
$map-shadow: #002926;
$map-background: #006764;
$state-map-background: #00a29b;
$sidebar-color: #006b65;
$yellow: #ffcb23;
$deputy-border-color: #005b58;

$color-category: (
  adm-publica: #2574A9,
  agricultura: #16a085,
  arte-cultura-informacao: #FF7A7A,
  assistencia-social: #DCC6E0,
  cidades: #7f8c8d,
  ciencia-tecnologia: #681038,
  comercio-consumidor: #F5D76E,
  comunicacao-social: #A10A31,
  direitos-humanos-minorias: #463C78,
  economia-financas-publicas: #0F4235,
  educacao: #81CFE0,
  esporte-lazer: #BDC52A,
  justica: #95a5a6,
  meio-ambiente: #80D475,
  relacoes-exteriores: #D2527F,
  saude: #66CDAA,
  seguranca: #D03D3D,
  trabalho-emprego: #E6B93C,
  viacao-transporte: #34495e,
  no-theme: #545454,
);
