.map__info-card {
  background-color: $light-green;
  width: 30em;
  height: 10em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.map {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5em;

  .map__states {
    fill: #006864;
    stroke: #cbcfd1;
    stroke-width: 3px;
    filter: drop-shadow( -5px -5px 5px #000 );

    .state__path {
      transition: fill 0.7s ease;
      &.economia {
        fill: green;
      }

      &.educacao {
        fill: blue;
      }

      &.seguranca {
        fill: red;
      }
    }
  }
}
