.sidebar {
  background-color: $light-green;
  padding: 3em;
  width: 15em;
  .sidebar__header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .header__logo {
      height: 10em;
    }
  }
}
